@font-face {
  font-family: 'TmoneyRoundWindExtraBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TmoneyRoundWindRegular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'TmoneyRoundWindRegular';
  padding: 0;
  margin: 0;
  user-select: none;
}
.bold {
  font-family: 'TmoneyRoundWindExtraBold';
}
.material-symbols-rounded {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}
.btn {
  background-color: white;
  border: 0;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
#site-background {
  background-color: #bdbdbd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* 메뉴 */
.menu-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.12);
  opacity: 0;
  position: fixed;
  top: 0;
  z-index: 99;
  border-top: 1px solid #f1f1f1;
}
.menu-wrapper:hover {
  opacity: 1;
}
.menu-wrapper .material-symbols-rounded {
  margin-bottom: -1px;
  font-size: calc(16px + min(0.3125vw, 0.5556vh));
}
.menu-right {
  display: flex;
}
.menu-btn {
  padding: calc(6px + min(0.625vw, 1.111vh));
  font-size: calc(12px + min(0.3125vw, 0.5556vh));
  color: #333333;
}
#list-btn {
  gap: 6px;
}
#reset-btn {
  padding-left: 28px;
}
#help-btn {
  gap: 4px;
  padding-left: 30px;
}
/* 목차 */
.nav-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 998;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
.nav-inner {
  width: 300px;
  height: calc(100% - 64px);
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: white;
  font-size: 18px;
  color: #333;
  box-shadow: 20px 0px 40px 0px rgba(0, 0, 0, 0.12);
  padding-block: 32px;
}
.nav-inner::-webkit-scrollbar {
  display: none;
}
.nav-title-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 32px 16px;
}
.nav-title {
  font-size: 24px;
}
#nav-close-btn {
  background-color: white;
  padding-right: 16px;
}
.book-info {
  display: flex;
  padding: 20px 0px;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.book-title {
  font-size: 20px;
}
.book-author {
  font-size: 14px;
  color: #828282;
  text-decoration: none;
}
.nav-list {
  padding: 12px 32px;
  cursor: pointer;
}
.nav-list:nth-child(odd) {
  background-color: #f9f9f9;
}
.nav-list:hover {
  background-color: #f2f2f2;
}

/* 메인 콘텐츠 배경, 버튼 */
.main-wrapper {
  aspect-ratio: 16 / 9;
  background-color: #fe8800;
  width: min(100%, 100vh * 16 / 9);
  position: relative;
  transition: 0.4s;
  overflow: hidden;
}
.paging-btn {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  opacity: 0;
  padding-inline: 8px;
  height: 100%;
  z-index: 9;
}
.paging-btn .material-symbols-rounded {
  font-size: calc(20px + min(0.625vw, 1.111vh));
}
.paging-btn:disabled {
  display: none;
}
#prev-btn {
  left: 0;
  padding-inline: 0 calc(6px + min(0.625vw, 1.111vh));
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.12) 100%
  );
}
#next-btn {
  right: 0;
  padding-inline: calc(6px + min(0.625vw, 1.111vh)) 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.12) 100%
  );
}
.paging-btn:hover {
  opacity: 1;
}
.page-content {
  animation: 0.4s fadeout forwards;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}
.open {
  animation: 0.4s fadein forwards;
}
.contents-wrapper {
  height: 100%;
}
/* 텍스트 */
.text-box {
  color: white;
  padding: 4.167%;
}
.text-title {
  font-size: min(2.22vw, 3.62vh);
  margin-bottom: min(calc(2.22vw * 9 / 16), calc(3.62vh * 9 / 16));
}
.text-content {
  font-size: min(1.25vw, 2.05vh);
  line-height: 1.3;
}
.img-box {
  position: absolute;
  height: 100%;
  width: 100%;
}
.img-box img {
  width: 100%;
  height: auto;
  position: absolute;
}

/* 목차 */
.index-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: min(6.27vw, 7.2vh);
  gap: min(3.135vw, 5.565vh);
}
.index-list-wrap {
  display: flex;
  gap: min(2.09vw, 2.4vh);
  width: 100%;
  justify-content: center;
  flex: 1;
}
.index-title {
  color: #828282;
  font-size: min(2.09vw, 3.71vh);
  text-align: center;
}
.index-line {
  border: 0;
  border-left: min(0.25vw, 0.38vh) dotted #bdbdbd;
}
.index-subwrap {
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: min(3.135vw, 3.6vh);
  width: min(18vw, 32vh);
  padding-bottom: min(6.27vw, 11.13vh);
}
.index-1 .index-title {
  color: #fe8800;
}
.index-2 .index-title {
  color: #00974e;
}
.index-list {
  font-size: min(1.67vw, 3vh);
  display: flex;
  flex-direction: column;
  gap: min(0.53vw, 1vh);
}
.index-list-content {
  display: flex;
  gap: min(1.67vw, 3vh);
  cursor: pointer;
  transition: 0.2s;
}
.index-1 .index-list-content:hover {
  color: #fe8800;
  transition: 0.2s;
}
.index-2 .index-list-content:hover {
  color: #00974e;
  transition: 0.2s;
}
/* cover */
.bg-cut {
  position: absolute;
  right: 0;
  height: 100%;
  width: auto;
}
.bg-cut-w {
  position: absolute;
  width: 100%;
  height: auto;
}
.cover-text {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-bottom: min(6vw, 10.65vh);
}
.cover-title {
  font-size: min(6.667vw, 11.86vh);
}
.cover-author {
  font-size: min(1.25vw, 2.23vh);
}
#cover-move {
  animation: transformY5 5s ease-in-out infinite;
}
@keyframes transformY5 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(calc(min(0.625vw, 1.125vh) * (-1)));
  }
}

/* ep1 */
.ep1 {
  align-items: center;
}
#ep1-1-1 {
  animation: transformY10 5s ease-in-out infinite;
}
@keyframes transformY10 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(calc(min(1.25vw, 2.23vh) * (-1)));
  }
}

/* ep2 */
.ep2 {
  align-items: flex-end;
  justify-content: flex-end;
}
.ep2 .text-box {
  text-align: right;
}
#ep2-bread-bot,
#ep2-lettuce,
#ep2-bacon-shadow,
#ep2-bacon {
  animation: transformXYep2Soft1 7s ease-in-out infinite;
}
@keyframes transformXYep2Soft1 {
  0%,
  100% {
    transform: translate(0, 0) rotate(0);
  }
  50% {
    transform: translate(
        calc(min(0.625vw, 1.115vh)),
        calc(min(0.625vw, 1.115vh) * (-1))
      )
      rotate(0.5deg);
  }
}

#ep2-cheese,
#ep2-bread-top {
  animation: transformXYep2Soft2 7s ease-in-out infinite;
}
#ep2-tomato {
  transform: translate(
      calc(min(0.625vw, 1.115vh)),
      calc(min(0.625vw, 1.115vh) * (-1))
    )
    rotate(0.8deg);
  animation: transformXYep2Soft2 7s 1s ease-in-out infinite;
}
#ep2-onion {
  transform: translate(
      calc(min(0.625vw, 1.115vh)),
      calc(min(0.625vw, 1.115vh) * (-1))
    )
    rotate(0.8deg);
  animation: transformXYep2Soft2 7s 0.5s ease-in-out infinite;
}
#ep2-cucumber {
  transform: translate(
      calc(min(0.625vw, 1.115vh)),
      calc(min(0.625vw, 1.115vh) * (-1))
    )
    rotate(0.8deg);
  animation: transformXYep2Soft2 7s 0.8s ease-in-out infinite;
}

@keyframes transformXYep2Soft2 {
  0%,
  100% {
    transform: translate(
        calc(min(0.625vw, 1.115vh)),
        calc(min(0.625vw, 1.115vh) * (-1))
      )
      rotate(0.8deg);
  }
  50% {
    transform: translate(0, 0) rotate(0);
  }
}
/* ep3 */
.ep3 {
  align-items: flex-start;
}
.ep3 .text-box {
  color: #131641;
}
#ep3-case3 {
  height: 100%;
  width: auto;
}
.ep3-click {
  animation: transformY10 4s ease-in-out infinite;
}
#ep3-case2 {
  animation-delay: 0.2s;
}
#ep3-case3 {
  animation-delay: 0.4s;
}
#ep3-case4 {
  animation-delay: 0.6s;
}
#ep3-case5 {
  animation-delay: 0.8s;
}
#ep3-case6 {
  animation-delay: 1s;
}
/* ep4 */
.ep4 {
  justify-content: flex-end;
  align-items: flex-start;
}
.ep4 .text-box {
  text-align: right;
}
#ep4-mouse {
  width: min(5.625vw, 10vh);
  top: min(32.36vw, 57.53vh);
  left: min(66.25vw, 117.777vh);
  cursor: pointer;
}
.ep4-mouse-z {
  z-index: 1;
}
.ep4-twinkle {
  animation: twinkleColor 0.5s ease-in-out infinite;
}
.ep4-twinkle:nth-child(2) {
  animation-delay: 0.1s;
}
.ep4-twinkle:nth-child(3) {
  animation-delay: 0.3s;
}
.ep4-twinkle:nth-child(4) {
  animation-delay: 0.4s;
}
.slow .ep4-twinkle {
  animation-duration: 2s;
}
@keyframes twinkleColor {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(-60deg);
  }
}
/* ep5 */
.ep5 {
  align-items: flex-end;
  justify-content: flex-end;
}
.ep5 .text-box {
  text-align: right;
  padding-left: 0;
}
:root {
  --arrow-angle: -17.45deg;
}
#ep5-arrow {
  width: min(21.979vw, 39.07vh);
  top: min(26.7vw, 47.467vh);
  left: min(15.5vw, 27.556vh);
  transform: rotate(var(--arrow-angle));
  animation: arrowRotateBefore 2s cubic-bezier(0.58, 0.01, 0.41, 0.98);
  transition: 0.3s;
}
@keyframes arrowRotateBefore {
  0% {
    transform: rotate(calc(var(--arrow-angle) - 30deg));
  }
  20% {
    transform: rotate(calc(var(--arrow-angle) + 40deg));
  }
  40% {
    transform: rotate(calc(var(--arrow-angle) - 25deg));
  }
  60% {
    transform: rotate(calc(var(--arrow-angle) + 15deg));
  }
  80% {
    transform: rotate(calc(var(--arrow-angle) - 4deg));
  }
  100% {
    transform: rotate(var(--arrow-angle));
  }
}
#ep5-magnet {
  width: min(27.188vw, 48.334vh);
  top: min(20.2vw, 35.91vh);
  left: min(46.5vw, 82.667vh);
  transform: rotate(6.34deg);
  transition: 0.3s;
  cursor: pointer;
}

/* ep6 */
.ep6 {
  align-items: flex-end;
}
#ep6-back-move {
  width: min(34.0625vw, 60.555vh);
  top: min(8.333vw, 14.814vh);
  left: min(69.27vw, 123.148vh);
  transform-origin: 5% 13%;
  animation: 4s rotateCookie ease-in-out infinite;
}
@keyframes rotateCookie {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(2deg);
  }
}

/* ep7 */
.ep7 {
  justify-content: flex-end;
  align-items: flex-start;
}
.ep7 .text-box {
  text-align: right;
}
.thread {
  transition: 0.3s;
}
.water-anime1 {
  animation: 4s waterAnimation infinite;
}
.water-anime2 {
  animation: 4s waterAnimation 2s infinite;
}

@keyframes waterAnimation {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* ep8 */
.ep8 {
  align-items: flex-start;
}
.ep8 .bg-cut-w {
  animation: 6s bgBrightnessChange infinite;
}
@keyframes bgBrightnessChange {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* 선택 결과 보고서*/
.report {
  justify-content: center;
}
.report .text-box {
  color: #969696;
  width: min(36.77vw, 65.37vh);
  margin-block: min(3.541vw, 6.296vh);
  padding: 3% 4% 3% 7%;
  z-index: 10;
}
.report-th {
  font-size: min(1.25vw, 2.05vh);
  display: flex;
}
.th-subwrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.report-title-wrap {
  flex: 1;
}
.report-title {
  font-size: min(2.22vw, 3.62vh);
  letter-spacing: 0.35em;
  margin-left: 0.35em;
  display: flex;
  align-items: center;
  flex: 1;
}
#report-date {
  padding-block: min(0.468vw, 0.833vh);
  text-align: left;
  width: 97%;
}
.th-stamp-title {
  width: min(2.083vw, 3.7vh);
}
.th-stamp-contents {
  width: min(5.052vw, 8.98vh);
}
.th-stamp-sub {
  padding-block: min(0.468vw, 0.833vh);
}
.th-stamp {
  width: min(3.125vw, 5.555vh);
  font-size: min(1.562vw, 2.777vh);
  aspect-ratio: 1 / 1;
  border: min(0.3125vw, 0.5555vh) solid #ff6868;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff6868;
  transform: rotate(-15deg);
}
.report-contents {
  font-size: min(1.5625vw, 2.777vh);
}
.report-tr {
  display: flex;
}
.tr-index {
  width: 10.5%;
  aspect-ratio: 1 / 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tr-txt {
  flex: 1;
  display: flex;
  align-items: center;
  padding-inline: 0.7em;
}
.report-footer {
  font-size: min(0.833vw, 1.481vh);
  text-align: right;
  line-height: 2.2em;
}

/* 도움말 */
.help-wrap {
  position: absolute;
  top: 0;
  z-index: 999;
  cursor: pointer;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}
.help-top-wrap {
  position: absolute;
  top: 0;
  color: white;
  font-size: min(1.667vw, 2.962vh);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.help-dot-wrap {
  border: min(0.2083vw, 0.37vh) dashed rgba(255, 255, 255, 0.7);
  background: rgba(0, 0, 0, 0.4);
}
.help-top-dot {
  width: calc(100% - min(0.2083vw, 0.37vh) * 2);
  display: flex;
  justify-content: space-between;
}
.help-dot-wrap span {
  padding: calc(6px + min(0.625vw, 1.111vh));
  font-size: calc(12px + min(0.3125vw, 0.5556vh));
}
.help-top-wrap .bold {
  padding: calc(6px + min(0.625vw, 1.111vh));
  font-size: min(1.667vw, 2.962vh);
}
.help-img-wrap {
  aspect-ratio: 16 / 9;
  width: min(100vw, 100vh * 16 / 9);
  position: relative;
}
.help-img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
}
.help-nav-wrap {
  display: flex;
  justify-content: space-between;
  aspect-ratio: 16 / 9;
  color: white;
  font-size: min(1.667vw, 2.962vh);
}
.help-nav-box {
  display: flex;
}
.help-nav-box span,
.help-nav-box .help-dot-wrap {
  display: flex;
  align-items: center;
}
.help-nav-box span {
  padding: calc(6px + min(0.625vw, 1.111vh));
}
.help-nav-box .material-symbols-rounded {
  font-size: calc(20px + min(0.3125vw, 0.5556vh));
}
.help-left-box .material-symbols-rounded {
  padding-left: 0;
}
.help-right-box .material-symbols-rounded {
  padding-right: 0;
}
.help-click {
  background-color: white;
  width: min(7.8125vw, 13.888vh);
  aspect-ratio: 1/1;
  position: absolute;
  top: calc(50% - min(7.8125vw, 13.888vh) / 2);
  left: calc(50% - min(7.8125vw, 13.888vh) / 2);
  border-radius: 50%;
  opacity: 0;
  animation: clickHere 2s infinite cubic-bezier(0.53, 0.03, 0.89, 0.32);
}
.help-click:nth-child(2) {
  animation-delay: 1s;
}
@keyframes clickHere {
  from {
    transform: scale(0.7, 0.7);
    opacity: 0.4;
  }
  to {
    transform: scale(1.5, 1.5);
    opacity: 0;
  }
}

/*페이지 전환 애니메이션*/
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* 효과 전용 class */
.invisible {
  display: none;
}
#dragging {
  cursor: grab;
}
.opacity {
  opacity: 0;
  transition: 0.3s;
}
